<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026009858914-9uftnga7febs31j5h0u096kglgniimpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026009858914-9uftnga7febs31j5h0u096kglgniimpv</string>
	<key>API_KEY</key>
	<string>AIzaSyAih_qMzA7CMYllwGxlSneHgfVZ4WQ_yQo</string>
	<key>GCM_SENDER_ID</key>
	<string>1026009858914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.crypto.cleapApp.app</string>
	<key>PROJECT_ID</key>
	<string>clean-app-4e0c8</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-app-4e0c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026009858914:ios:e389d12a7d48f8234ca23b</string>
</dict>
</plist>